# Created by venv; see https://docs.python.org/3/library/venv.html
# Ambienti virtuali
venv/
.venv/
env/

# Cache e file compilati di Python
__pycache__/
*.pyc
*.pyo

# Configurazioni di VS Code e file di sistema
.vscode/
.DS_Store
Thumbs.db

# Variabili d'ambiente (sicurezza)
.env
